/* line 1, ../scss/main.scss */
html {
  height: 100%;
}

/* line 4, ../scss/main.scss */
body {
  min-height: 100%;
  background: #EFEFEF;
  font-family: "Source Sans Pro", sans-serif;
  padding: 30px 0;
}
/* line 10, ../scss/main.scss */
body.loading {
  position: relative;
}
/* line 13, ../scss/main.scss */
body.loading:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}
/* line 23, ../scss/main.scss */
body.loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  content: 'Carregando...';
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

/* line 39, ../scss/main.scss */
.title h1 {
  font-size: 38px;
  font-weight: bold;
  color: #000;
}

/* line 45, ../scss/main.scss */
.subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
}

/* line 51, ../scss/main.scss */
.secao {
  display: none;
}
/* line 54, ../scss/main.scss */
.secao.visible {
  display: block;
}
/* line 61, ../scss/main.scss */
.secao.home .title h1 {
  text-align: center;
}
/* line 67, ../scss/main.scss */
.secao.home .homeOptions .box {
  display: block;
  padding: 20px 30px;
  margin: 5px 0;
  background: #FFF;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
/* line 77, ../scss/main.scss */
.secao.home .homeOptions .box:hover:before {
  background: rgba(0, 0, 0, 0.3);
}
/* line 80, ../scss/main.scss */
.secao.home .homeOptions .box:before {
  content: '';
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  transition: background 0.25s ease;
}
/* line 93, ../scss/main.scss */
.secao.home .homeOptions .box h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  position: relative;
  z-index: 2;
}
/* line 105, ../scss/main.scss */
.secao.escolha .success-modal {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
/* line 120, ../scss/main.scss */
.secao.escolha .success-modal.visible {
  opacity: 1;
  pointer-events: auto;
}
/* line 125, ../scss/main.scss */
.secao.escolha .success-modal .heading {
  padding: 40px 0;
  color: #FFF;
}
/* line 129, ../scss/main.scss */
.secao.escolha .success-modal .heading h1 {
  font-size: 54px;
  font-weight: 700;
}
/* line 133, ../scss/main.scss */
.secao.escolha .success-modal .heading .text {
  font-size: 24px;
}
/* line 136, ../scss/main.scss */
.secao.escolha .success-modal .heading .loading-next {
  font-size: 16px;
  font-style: italic;
}
/* line 144, ../scss/main.scss */
.secao.escolha .title {
  text-align: center;
  padding: 20px 0 40px 0;
}
/* line 151, ../scss/main.scss */
.secao.escolha .quiz-wrapper .quiz-notfound {
  display: none;
  font-size: 18px;
}
/* line 157, ../scss/main.scss */
.secao.escolha .quiz-wrapper.notfound .quiz-notfound {
  display: block;
}
/* line 158, ../scss/main.scss */
.secao.escolha .quiz-wrapper.notfound .quiz-found {
  display: none;
}
/* line 163, ../scss/main.scss */
.secao.escolha .quadro-wrapper {
  text-align: center;
  padding-bottom: 30px;
}
/* line 169, ../scss/main.scss */
.secao.escolha .quadro-image-wrapper .quadro-image {
  max-width: 100%;
  max-height: 400px;
}
/* line 173, ../scss/main.scss */
.secao.escolha .quadro-image-wrapper .fluidbox {
  cursor: zoom-in;
}
/* line 177, ../scss/main.scss */
.secao.escolha .quadro-info {
  font-size: 0;
  padding-top: 10px;
}
/* line 181, ../scss/main.scss */
.secao.escolha .quadro-info .quadro-titulo {
  font-size: 24px;
  font-weight: 700;
}
/* line 185, ../scss/main.scss */
.secao.escolha .quadro-info .quadro-ano {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
}
/* line 190, ../scss/main.scss */
.secao.escolha .quadro-info .quadro-autor {
  display: inline-block;
  font-size: 16px;
}
/* line 194, ../scss/main.scss */
.secao.escolha .quadro-info .quadro-autor:before {
  content: ', ';
  margin-right: 3px;
}
/* line 202, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-options-line {
  margin: 10px 0;
}
/* line 205, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-option {
  background: #FFF;
  border-radius: 5px;
  border: 2px solid #333;
  display: block;
  padding: 15px;
  text-align: center;
  color: #333;
  font-size: 24px;
  line-height: 30px;
}
/* line 216, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-option:hover, .secao.escolha .quadro-options .quadro-option:focus {
  background: #EFEFEF;
  text-decoration: none;
}
/* line 222, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-option.selected {
  background: #333;
  color: #FFF;
}
/* line 228, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-option.correct:after {
  content: '\f00c';
  font-family: 'FontAwesome';
  display: inline-block;
  line-height: 30px;
}
/* line 237, ../scss/main.scss */
.secao.escolha .quadro-options .quadro-option.error:after {
  content: '\f00d';
  font-family: 'FontAwesome';
  display: inline-block;
  line-height: 30px;
}
/* line 247, ../scss/main.scss */
.secao.game-over, .secao.win {
  text-align: center;
}
/* line 251, ../scss/main.scss */
.secao.game-over .heading, .secao.win .heading {
  padding: 40px 0;
}
/* line 254, ../scss/main.scss */
.secao.game-over .heading h1, .secao.win .heading h1 {
  font-size: 54px;
  font-weight: 700;
}
/* line 258, ../scss/main.scss */
.secao.game-over .heading .text, .secao.win .heading .text {
  font-size: 24px;
}
/* line 261, ../scss/main.scss */
.secao.game-over .heading .btn-voltar, .secao.win .heading .btn-voltar {
  padding: 10px 15px;
  display: inline-block;
  background: #333;
  color: #FFF;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
}

/* line 274, ../scss/main.scss */
.quizinfo-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 15px 0;
  z-index: 999;
  background: #FFF;
  color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  display: none;
}
/* line 287, ../scss/main.scss */
.quizinfo-wrapper .relativer {
  position: relative;
}
/* line 291, ../scss/main.scss */
.quizinfo-wrapper .pontuacao {
  font-size: 34px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 297, ../scss/main.scss */
.quizinfo-wrapper .pontuacao .lives-wrapper {
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid #CCC;
  padding-right: 10px;
  position: relative;
}
/* line 304, ../scss/main.scss */
.quizinfo-wrapper .pontuacao .lives-wrapper > .fa {
  color: red;
}
/* line 307, ../scss/main.scss */
.quizinfo-wrapper .pontuacao .lives-wrapper .tooltip {
  position: absolute;
  color: #FFF;
  background: red;
  width: 60px;
  bottom: 0;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.25s ease;
}
/* line 322, ../scss/main.scss */
.quizinfo-wrapper .pontuacao .lives-wrapper .tooltip.show {
  opacity: 1;
  bottom: 100%;
}
/* line 329, ../scss/main.scss */
.quizinfo-wrapper .pontuacao .title {
  display: inline-block;
  vertical-align: top;
}
/* line 338, ../scss/main.scss */
.quizinfo-wrapper .info {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 343, ../scss/main.scss */
.quizinfo-wrapper .info .info-text {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
}
/* line 349, ../scss/main.scss */
.quizinfo-wrapper .info .continente {
  font-weight: 700;
  font-size: 18px;
}
/* line 353, ../scss/main.scss */
.quizinfo-wrapper .info .pergunta {
  font-size: 16px;
}
/* line 356, ../scss/main.scss */
.quizinfo-wrapper .info .botao-wrapper {
  display: inline-block;
  vertical-align: top;
}
/* line 360, ../scss/main.scss */
.quizinfo-wrapper .info .botao {
  display: none;
}
/* line 363, ../scss/main.scss */
.quizinfo-wrapper .info .botao.visible {
  display: inline-block;
}

/* line 369, ../scss/main.scss */
.botao {
  display: inline-block;
  padding: 10px 15px;
  color: #FFF;
  background: #333;
  border-radius: 5px;
  font-size: 18px;
}
/* line 377, ../scss/main.scss */
.botao:hover, .botao:active, .botao:focus {
  background: #555;
  text-decoration: none;
  color: #FFF;
}
