html {
    height: 100%;
}
body {
    min-height: 100%;
    background: #EFEFEF;
    font-family: "Source Sans Pro", sans-serif;
    padding: 30px 0;

    &.loading {
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: rgba(255, 255, 255, 0.7);
            z-index: 1;
        }
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
            content: 'Carregando...';
            font-size: 18px;
            color: #333;
            font-weight: 700;
        }
    }
}

.title {

    h1 {
        font-size: 38px;
        font-weight: bold;
        color: #000;
    }
}
.subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
}

.secao {
    display: none;

    &.visible {
        display: block;
    }

    &.home {
        .title {

            h1 {
                text-align: center;
            }
        }
        .homeOptions {

            .box {
                display: block;
                padding: 20px 30px;
                margin: 5px 0;
                background: #FFF;
                text-align: center;
                position: relative;
                border-radius: 5px;

                &:hover {
                    &:before { background: rgba(0, 0, 0, 0.3); }
                }

                &:before {
                    content: '';
                    background: rgba(0, 0, 0, 0.6);
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    border-radius: 5px;
                    z-index: 1;
                    transition: background 0.25s ease;
                }

                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    color: #FFF;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    &.escolha {

        .success-modal {
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            background: rgba(0, 0, 0, 0.9);
            
            opacity: 0;
            pointer-events: none;

            transition: opacity 0.25s ease;

            &.visible {
                opacity: 1;
                pointer-events: auto;
            }

            .heading {
                padding: 40px 0;
                color: #FFF;

                h1 {
                    font-size: 54px;
                    font-weight: 700;
                }
                .text {
                    font-size: 24px;
                }
                .loading-next {
                    font-size: 16px;
                    font-style: italic;
                }
            }

        }

        .title {
            text-align: center;
            padding: 20px 0 40px 0;
        }

        .quiz-wrapper {

            .quiz-notfound {
                display: none;
                font-size: 18px;
            }

            &.notfound {
                .quiz-notfound { display: block; }
                .quiz-found { display: none; }
            }

        }

        .quadro-wrapper {
            text-align: center;
            padding-bottom: 30px;
        }
        .quadro-image-wrapper {

            .quadro-image {
                max-width: 100%;
                max-height: 400px;
            }
            .fluidbox {
                cursor: zoom-in;
            }
        }
        .quadro-info {
            font-size: 0;
            padding-top: 10px;

            .quadro-titulo {
                font-size: 24px;
                font-weight: 700;
            }
            .quadro-ano {
                display: inline-block;
                font-size: 18px;
                font-style: italic;
            }
            .quadro-autor {
                display: inline-block;
                font-size: 16px;
                
                &:before {
                    content: ', ';
                    margin-right: 3px;
                }
            }
        }
        .quadro-options {

            .quadro-options-line {
                margin: 10px 0;
            }
            .quadro-option {
                background: #FFF;
                border-radius: 5px;
                border: 2px solid #333;
                display: block;
                padding: 15px;
                text-align: center;
                color: #333;
                font-size: 24px;
                line-height: 30px;

                &:hover,
                &:focus {
                    background: #EFEFEF;
                    text-decoration: none;
                }

                &.selected {
                    background: #333;
                    color: #FFF;
                }
                &.correct {
                    
                    &:after {
                        content: '\f00c';
                        font-family: 'FontAwesome';
                        display: inline-block;
                        line-height: 30px;
                    }
                }
                &.error {

                    &:after {
                        content: '\f00d';
                        font-family: 'FontAwesome';
                        display: inline-block;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    &.game-over,
    &.win {
        text-align: center;

        .heading {
            padding: 40px 0;

            h1 {
                font-size: 54px;
                font-weight: 700;
            }
            .text {
                font-size: 24px;
            }
            .btn-voltar {
                padding: 10px 15px;
                display: inline-block;
                background: #333;
                color: #FFF;
                border-radius: 5px;
                margin-top: 10px;
                font-size: 18px;
            }
        }
    }
}

.quizinfo-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 15px 0;
    z-index: 999;
    background: #FFF;
    color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: none;

    .relativer {
        position: relative;
    }

    .pontuacao {
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;

        .lives-wrapper {
            display: inline-block;
            vertical-align: top;
            border-right: 2px solid #CCC;
            padding-right: 10px;
            position: relative;

            & > .fa {
                color: red;
            }
            .tooltip {
                position: absolute;
                color: #FFF;
                background: red;
                width: 60px;
                bottom: 0;
                width: 60px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                font-size: 16px;
                text-align: center;
                padding: 10px 15px;
                transition: all 0.25s ease;

                &.show {
                    opacity: 1;
                    bottom: 100%;
                }
            }
        }

        .title {
            display: inline-block;
            vertical-align: top;

            .pontos {

            }
        }
    }
    .info {
        position: absolute;
        right: 0;
        top: 0;

        .info-text {
            display: inline-block;
            vertical-align: top;
            text-align: right;
            padding-right: 20px;
        }
        .continente {
            font-weight: 700;
            font-size: 18px;
        }
        .pergunta {
            font-size: 16px;
        }
        .botao-wrapper {
            display: inline-block;
            vertical-align: top;
        }
        .botao {
            display: none;

            &.visible {
                display: inline-block;
            }
        }
    }
}
.botao {
    display: inline-block;
    padding: 10px 15px;
    color: #FFF;
    background: #333;
    border-radius: 5px;
    font-size: 18px;

    &:hover,
    &:active,
    &:focus {
        background: #555;
        text-decoration: none;
        color: #FFF;
    }
}